@font-face {
  font-family: "Crimson Pro";
  font-style: normal;
  src: url("/fonts/CrimsonPro-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Crimson Pro";
  font-style: italic;
  src: url("/fonts/CrimsonPro-Italic-VariableFont_wght.ttf");
}

:root {
  --grayscale-50: rgb(247, 247, 247);
  --grayscale-100: rgb(239, 239, 239);
  --grayscale-200: rgb(223, 223, 223);
  --grayscale-300: rgb(202, 202, 202);
  --grayscale-400: rgb(168, 168, 168);
  --grayscale-500: rgb(135, 135, 135);
  --grayscale-600: rgb(109, 109, 109);
  --grayscale-700: rgb(95, 95, 95);
  --grayscale-800: rgb(74, 74, 74);
  --grayscale-900: rgb(61, 61, 61);

  --red: #c3073f;
  --red-medium: #950740;
  --red-dark: #6f2232;
  --light-blue: #b3d4fc;

  --color-main: var(--grayscale-900);
  --color-accent: var(--red);
  --color-faded: var(--grayscale-700);
  --color-light: var(--grayscale-200);
  --color-bg: var(--grayscale-50);
  --color-text-highlight: var(--light-blue);

  --color-table-header-bg: var(--grayscale-800);
  --color-table-header-text: var(--grayscale-50);
  --color-table-main: var(--grayscale-100);
  --color-table-alt: var(--grayscale-300);

  --color-heading-bottom-border: var(--grayscale-500);

  --text-size-root: 16px;
  --text-leading-root: 1.4;

  --text-size-xs: 0.75rem;
  --text-size-sm: 0.875rem;
  --text-size-base: 1rem;
  --text-size-lg: 1.125rem;
  --text-size-xl: 1.25rem;
  --text-size-2xl: 1.5rem;
  --text-size-3xl: 1.75rem;
  --text-size-4xl: 2rem;

  --text-weight-light: 200;
  --text-weight-regular: 400;
  --text-weight-semibold: 500;
  --text-weight-bold: 600;

  --border-size-xs: 0.07rem;
  --border-size-sm: 0.08rem;
  --border-size-base: 0.1rem;
  --border-size-lg: 0.15rem;
  --border-size-xl: 0.2rem;

  --content-width: 30rem;
}

/* BASE -------------------------------------------------------------- */
body {
  font-family: "Crimson Pro", "Palatino", serif;
  font-weight: var(--text-weight-regular);
  font-variation-settings: "wght" var(--text-weight-regular);
  color: var(--color-main);
  line-height: var(--text-leading-root);
  font-size: var(--text-size-root);
  background-color: var(--color-bg);
}

strong {
  font-weight: var(--text-weight-bold);
  font-variation-settings: "wght" var(--text-weight-bold);
}

em {
  font-weight: var(--text-weight-semibold);
  font-variation-settings: "wght" var(--text-weight-semibold);
}

a {
  color: var(--color-accent);
}

strong > em {
  font-weight: var(--text-weight-bold);
  font-variation-settings: "wght" var(--text-weight-bold);
}

em > strong {
  font-weight: var(--text-weight-bold);
  font-variation-settings: "wght" var(--text-weight-bold);
}

/* CONTAINERS -------------------------------------------------------- */
.container {
  padding: 0 1rem;
}

.wrapper {
  margin: 0;
  max-width: var(--content-width);
  margin: 0 auto;
}

/* PAGE HEADER ------------------------------------------------------- */
.header {
  border-bottom: var(--border-size-sm) solid var(--color-light);
  box-shadow: 0 0.33rem 0.33rem var(--grayscale-300);
  background: #222;
  padding: 0.01rem 1rem 0 1rem;
  margin: 0;
}

.header a {
  font-weight: var(--text-weight-bold);
  font-variation-settings: "wght" var(--text-weight-bold);
  color: var(--grayscale-50);
  text-decoration: none;
}

.header a:hover {
  color: var(--color-accent);
}

a.site-title {
  font-style: italic;
}

/* POST HEADER ------------------------------------------------------- */
.header nav {
  max-width: var(--content-width);
  margin: 0 auto;
}

/* NAV BASE ---------------------------------------------------------- */
nav ul.flat {
  padding-left: 0;
  margin: 0.5rem 0;
}

nav ul.flat li {
  display: inline-block;
  list-style: none;
}

nav li:not(:last-child) {
  margin-right: 0.75rem;
}

/* POST HEADER ------------------------------------------------------- */
.post-header .title {
  margin-bottom: 0;
}

.post-header .meta {
  margin-top: 0.33rem;
  margin-bottom: 0.25rem;
}

.post-header > .meta {
  color: var(--color-faded);
  font-style: italic;
}

/* POST CONTENT ------------------------------------------------------ */
/* vertical rhythm */
.markdown > * + * {
  margin-top: 1rem;
  margin-bottom: 0;
}

/* /\* paragraphs immediately before lists are related *\/ */
/* .markdown > p + ul { */
/*   margin-top: 0; */
/* } */

.markdown > ul {
  padding-left: 1rem;
  list-style-position: outside;
}

.markdown > ol {
  padding-left: 1rem;
  list-style-position: outside;
}

.markdown a {
  text-decoration: underline dotted 0.01rem;
}

::-moz-selection {
  background: var(--color-text-highlight);
  text-shadow: none;
}

::selection {
  background: var(--color-text-highlight);
  text-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Crimson Pro", "Palatino", serif;
  color: var(--color-main);
  font-weight: var(--text-weight-bold);
  font-variation-settings: "wght" var(--text-weight-bold);
  /* margin: 1rem 0; */
}

.markdown h1 {
  border-bottom: var(--border-size-base) dotted var(--color-light);
}

h1,
h2,
h3,
h4,
h5 {
  /* text-transform: capitalize; */
}

h1 {
  font-size: var(--text-size-3xl);
  line-height: var(--text-size-2xl);
}

h2 {
  font-size: var(--text-size-2xl);
  line-height: var(--text-size-xl);
}

h3 {
  font-size: var(--text-size-xl);
}

h4 {
  font-size: var(--text-size-base);
}

h5 {
  font-size: var(--text-size-base);
  font-style: italic;
}

.markdown figure {
  margin-left: 0;
}

.markdown img {
  margin-left: 0;
  max-width: 100%;
  display: block;
  border: none;
}

.markdown blockquote {
  margin-left: 0;
  padding: 0 1rem;
  width: calc(100% - 2rem);

  border-left: var(--border-size-sm) solid var(--color-light);
  border-radius: 0.33rem;
}

.markdown blockquote > ul {
  padding-left: 1rem;
}

.markdown blockquote > ol {
  padding-left: 1rem;
}

.markdown blockquote hr {
  border: none;
  border-bottom: var(--border-size-xs) solid var(--color-light);
}

/* MISC -------------------------------------------------------- */
.posts a.title {
  display: inline-block;
}

.prevent-collapse {
  min-height: 0.1rem;
}

pre code {
  display: inline-block;
}

code {
  font-size: var(--text-size-sm);
}

/* TAGS -------------------------------------------------------- */
.post ul.flat {
  padding: 0;
}

.post ul.flat li {
  display: inline-block;
  list-style: none;
  margin-left: 0;
}

.post-tags nav {
  border-top: var(--border-size-sm) solid var(--color-light);
  margin-top: 1rem;
}

.post-tags .tags a {
  display: inline-block;

  padding: 0.1rem 0.25rem;

  border: var(--border-size-xs) solid var(--color-accent);
  border-radius: 0.25rem;

  color: var(--color-accent);

  font-size: var(--text-size-sm);
  text-decoration: none;
}

.tag-cloud {
  line-height: 2rem;
}

.tag-cloud a {
  padding: 0.1rem 0.25rem;
  border: var(--border-size-xs) solid var(--color-accent);
  border-radius: 0.25rem;
  margin: 1rem 0.25rem;
}

/* FOOTER -------------------------------------------------------- */
.footer {
  font-size: var(--text-size-sm);
  color: var(--color-faded);
  margin: 1rem 0;
}

/* POSTS PAGE -------------------------------------------------------- */

ul.posts {
  list-style-position: inside;
  margin-left: 0;
  padding: 0;
}

/* HOME PAGE -------------------------------------------------------- */
.recent-posts * + * {
  margin-top: 1rem;
  margin-bottom: 0;
}

.posts .post .meta {
  font-style: italic;
}

.posts .post .title {
  margin-top: 0;
}

/* TABLES -------------------------------------------------------- */
.markdown table {
  width: 100%;
}

.markdown th {
  background-color: var(--color-table-header-bg);
  color: var(--color-table-header-text);
  font-weight: 600;
  font-variation-settings: "wght" 600;
}

.markdown th,
td {
  padding: 0.3rem 0.5rem;
}

.markdown td {
  font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
}

.markdown tbody tr:nth-child(odd) {
  background-color: var(--color-table-main);
}
.markdown tbody tr:nth-child(even) {
  background-color: var(--color-table-alt);
}

.markdown td > ul {
  margin: 0;
}

/* UTIL -------------------------------------------------------- */
.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}
