<!DOCTYPE html>
<html>
{{ partial "header.html" . }}

<body>
	{{ partial "head.html" . }}
	<div class="container wrapper list">

		{{ if isset .Data "Term" }}
			<h1>Entries tagged - "{{ .Data.Term }}"</h1>
		{{ else }}
			<h1 class="page-title">All articles</h1>
		{{ end }}

		{{ with .Content }}{{ . }}{{ end }}

		<ul class="posts">
			{{- range .Data.Pages -}}
			{{- if (in (.Site.Params.excludedTypes | default (slice "page")) .Type) -}}
			{{- else -}}
			<li class="post">
				<a href="{{ .RelPermalink }}">{{.Title}}</a> <span class="meta">{{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</span>
			</li>
			{{- end -}}
			{{- end -}}
		{{ partial "footer.html" . }}
		</ul>
	</div>
</body>

</html>
