<!DOCTYPE html>
<html>
{{ partial "header.html" . }}

<body>
	{{ partial "head.html" . }}
	<div class="container wrapper tags">

		<h1 class="page-title">All tags</h1>
	{{ partial "footer.html" . }}
	</div>

</body>

</html>
