<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	{{- $title := ( .Title ) -}}
	{{- $siteTitle := ( .Site.Title ) -}}
	{{- if .IsHome -}}
	<title>{{ $siteTitle }} {{ if isset .Site.Params "subtitle" }}- {{ .Site.Params.Subtitle }}{{ end }} </title>
	{{- else -}}
	<title>{{ $title }} - {{ $siteTitle }}</title>
	{{- end -}}

	{{- if isset .Site.Params "favicon" -}}
	<link rel="icon" type="image/png" href={{ .Site.Params.favicon }} />
	{{- end -}}

	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{ with .OutputFormats.Get "rss" -}}
	{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
	{{ end -}}

	{{ template "_internal/opengraph.html" . }}

	<link rel="stylesheet" type="text/css" media="screen" href="{{ .Site.BaseURL }}css/normalize.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="{{ .Site.BaseURL }}css/main.css" />
	{{- if isset .Site.Params "customcss" }}
	<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}{{ .Site.Params.customCSS }}" />
	{{ end }}
	{{- if or (eq .Site.Params.mode "auto") (eq .Site.Params.mode "dark") -}}
	<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/dark.css" {{ if eq .Site.Params.mode "auto" }}media="(prefers-color-scheme: dark)"{{ end }} />
	{{- if isset .Site.Params "customdarkcss" }}
	<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}{{ .Site.Params.customDarkCSS }}" {{ if eq .Site.Params.mode "auto" }}media="(prefers-color-scheme: dark)"{{ end }} />
	{{- end }}
	{{- end }}

	<!-- {{ if and (isset .Site.Params "social") (isset .Site.Params "feathericonscdn") (eq .Site.Params.featherIconsCDN true) -}} -->
	<!-- <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script> -->
	<!-- {{- else if (isset .Site.Params "social") -}} -->
	<!-- <script src="{{ .Site.BaseURL }}js/feather.min.js"></script> -->
	<!-- {{ end }} -->

	<!-- <script src="{{ .Site.BaseURL }}js/main.js"></script> -->
	<!-- {{- if isset .Site.Params "customjs" -}}
		 {{- range .Site.Params.customJS }}
		 {{- if or (hasPrefix . "http://") (hasPrefix . "https://") }} -->
	<!-- <script src="{{ . }}"></script> -->
	<!-- {{- else }} -->
	<!-- <script src="{{ $.Site.BaseURL }}{{ . }}"></script> -->
	<!-- {{- end }}
		 {{- end }}
		 {{- end }} -->
</head>

