<div class="header">
	<base href="{{ .Site.BaseURL }}">
	<nav class="nav">
		<ul class="flat">
            <li>
            <a class="site-title" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
            </li>
			{{ range .Site.Menus.main }}
			<li>
				<a href="{{ .URL }}">{{ .Name }}</a>
			</li>
			{{ end }}
		</ul>
	</nav>
</div>
